{{> header}}

<div class="p-5" id="mainDiv">
    <div id="mainDivText">
        <h1>Meet the Team!</h1>
    </div>
    <div class="row g-4 w-75 mx-auto mt-1 pb-5">
        <div class="col-3">
            <div class="card h-100">
            <img src="../images/laivenBanez.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Laiven Bañez </h4>
                <p class="card-text">
                    <ul>
                        <li>Github: <a href="https://github.com/laivenb">laivenb</a></li>
                        <li>Facebook: <a href="https://www.facebook.com/banez.zuy">Laiven Bañez</a></li>
                        <li>laiven_banez@dlsu.edu.ph</li>
                    </ul>
                </p>
            </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card h-100">
            <img src="../images/joloBueno.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Jonathan Bueno</h4>
                <p class="card-text">
                    <ul>
                        <li>Github: <a href="https://github.com/BoloJueno">BoloJueno</a></li>
                        <li>Facebook: <a href="https://www.facebook.com/jolo.bueno.92/">Jonathan Bueno </a></li>
                        <li>jonathan_bueno@dlsu.edu.ph</li>
                    </ul>
                </p>
            </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card h-100">
            <img src="../images/paoloDiaz.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Paolo Diaz</h4>
                <p class="card-text">
                    <ul>
                        <li>Github: <a href="https://github.com/TazLakaz">TazLakaz</a></li>
                        <li>Facebook: <a href="https://www.facebook.com/L.PAOLO.D">Paolo Diaz</a></li>
                        <li>lester_diaz@dlsu.edu.ph</li>
                    </ul>
                </p>
            </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card h-100">
            <img src="../images/zachiVillanueva.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Zachi Villanueva</h4>
                <p class="card-text">
                    <ul>
                        <li>Github: <a href="https://github.com/Zikamirichi">Zikamirichi</a></li>
                        <li>Instagram: <a href="https://www.facebook.com/ZKeindriV">Zachi Keindri</a></li>
                        <li>zachi_villanueva@dlsu.edu.ph</li>
                    </ul>
                </p>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-5 mb-5" id="npmDiv">
    <div class="mb-4" id="npmDivText">
        <h1>NPM Modules & 3rd Party Libraries Used</h1>
    </div>
    <div class="mx-auto w-75" id="npmDivTable">
        <div class="row">
            <div class="col-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 npmPic">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2560px-Node.js_logo.svg.png" class="img-fluid rounded-start p-3" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Body-parser</h3>
                                <p class="card-text">
                                    Body-parser parses is an HTTP request body that usually helps when you need to know more than just the URL being hit.
                                </p>
                                <p class="card-text"><small class="text-body-secondary">1.20.2</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 npmPic">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2560px-Node.js_logo.svg.png" class="img-fluid rounded-start p-3" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">CORS</h3>
                                <p class="card-text">
                                    CORS defines a way for client web applications that are loaded in one domain to interact with resources in a different domain.
                                </p>
                                <p class="card-text"><small class="text-body-secondary">2.8.5</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 npmPic">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2560px-Node.js_logo.svg.png" class="img-fluid rounded-start p-3" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Dotenv</h3>
                                <p class="card-text">
                                    Dotenv is a zero-dependency module that loads environment variables from a .env file into process.env.
                                </p>
                                <p class="card-text"><small class="text-body-secondary">16.3.1</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 npmPic">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2560px-Node.js_logo.svg.png" class="img-fluid rounded-start p-3" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Email-validator</h3>
                                <p class="card-text">
                                    The "email-validator" package is a widely used Node.js module for email validation to eliminate fake IDs.
                                </p>
                                <p class="card-text"><small class="text-body-secondary">2.0.4</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 npmPic">
                            <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/express-js-icon.png" class="img-fluid rounded-start p-3" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Express</h3>
                                <p class="card-text">
                                    A small framework that works on top of Node.js web server functionality to simplify its APIs and add helpful new features.
                                </p>
                                <p class="card-text"><small class="text-body-secondary">4.18.2</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 npmPic">
                            <img src="https://handlebarsjs.com/images/handlebars_logo.png" class="img-fluid rounded-start p-3" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Handlebars</h3>
                                <p class="card-text">
                                    It ensures minimum templating and is a logicless engine that keeps the view and the code separated. It can be used with express as the hbs module.
                                </p>
                                <p class="card-text"><small class="text-body-secondary">7.1.2</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 npmPic">
                            <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/express-js-icon.png" class="img-fluid rounded-start p-3" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Express-session</h3>
                                <p class="card-text">
                                    express-session is a middleware module in Express.js that allows you to create sessions in your web application.
                                </p>
                                <p class="card-text"><small class="text-body-secondary">1.17.3</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 npmPic">
                            <img src="https://miro.medium.com/v2/resize:fit:1050/1*acfAKaDI7uv5GyFnJmiPhA.png" class="img-fluid rounded-start p-3" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Mongoose</h3>
                                <p class="card-text">
                                    A MongoDB ODM that is used to translate the code and its representation from MongoDB to the Node.js server.
                                </p>
                                <p class="card-text"><small class="text-body-secondary">8.0.0</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 npmPic">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2560px-Node.js_logo.svg.png" class="img-fluid rounded-start p-3" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Multer</h3>
                                <p class="card-text">
                                    Middleware for handling multipart/form-data that makes the otherwise painstaking process of uploading files in Node.js much easier.
                                </p>
                                <p class="card-text"><small class="text-body-secondary">1.4.5</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 npmPic">
                            <img src="https://poiemaweb.com/img/jquery-logo.png" class="img-fluid rounded-start p-3" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">jQuery</h3>
                                <p class="card-text">
                                    jQuery takes a lot of common tasks that require many lines of JavaScript code to accomplish, and wraps them into methods that you can call with a single line of code.
                                </p>
                                <p class="card-text"><small class="text-body-secondary">3.6.0</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 npmPic">
                            <img src="https://v5.getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo-shadow.png" class="img-fluid rounded-start p-3" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Bootstrap</h3>
                                <p class="card-text">
                                    Bootstrap is the most popular CSS Framework for developing responsive and mobile-first websites.
                                </p>
                                <p class="card-text"><small class="text-body-secondary">5.3.2</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>